<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584424142142-qc1aqppmi2s674ftcsguma41sidrqbtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584424142142-qc1aqppmi2s674ftcsguma41sidrqbtt</string>
	<key>API_KEY</key>
	<string>AIzaSyDJNewKFZwNPIubpVNNGlB7GfF63iMXcJM</string>
	<key>GCM_SENDER_ID</key>
	<string>584424142142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unnispick</string>
	<key>PROJECT_ID</key>
	<string>weather-app-unnispick</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-unnispick.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584424142142:ios:f98b4061e4e05ecdc5e86f</string>
</dict>
</plist>